{% extends 'poscrm/base.html' %}
{%block title%}Reset Password Complete{%endblock%}

{% block content %}
<br>
<div class= 'py-6 px-6'>
  <div class="container animated fadeIn">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card-group">
          <div class="card p-2 mb-2">
            <div class="card-body">
              <h2 class = 'mt-6'>Password Reset Successfully</h2>
              <p>Your password has been reset successfully. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}