{% extends 'poscrm/base.html' %}
{%block title%}Password Reset Done{%endblock%}

{% block content %}
<br>
<div class= 'py-6 px-6'>
    <div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card-group">
                    <div class="card p-2 mb-2">
                        <div class="card-body">
                          <h2 class = 'mt-6'>Password Reset Email Sent</h2>
                          <p>We've sent an email to the address you provided with instructions on how to reset your password. If you don't receive the email within a few minutes, please check your spam folder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}