{% extends 'poscrm/base.html' %}

{%block title%}{{ client.contact_name }}{%endblock%}

{% block content %}
    <div class = 'py-4 px-6'>
        <h1 class='mb-4 text-xl'>{{ client.contact_name }}</h1>
        
        {% if lead.profile %}
            <p class = 'font-semibold'>Profile:</p>
            <p>{{ lead.profile }}</p>
        {% endif %}
        
        <p class = 'font-semibold'>Company Name</p>
        <p class = 'mb-2'>{{ client.company_name }}</p>

        <p class = 'font-semibold'>Address</p>
        <p class = 'mb-2'>{{ client.address }}</p>

        <p class = 'font-semibold'>Country</p>
        <p class = 'mb-2'>{{ client.country }}</p>

        <p class = 'font-semibold'>Phone</p>
        <p class = 'mb-2'>{{ client.phone }}</p>

        <p class = 'font-semibold'>Email</p>
        <p class = 'mb-2'>{{ client.email }}</p>

        <p class = 'font-semibold'>Created at</p>
        <p class = 'mb-2'>{{ client.created_at|date:'M-d-Y' }}</p>

        <p class = 'font-semibold'>Modified at</p>
        <p class = 'mb-6'>{{ client.modified_at }}</p>

        <hr class = "my-4">       
        
        <a href = {% url 'clients:edit' client.id %} class="py-2 px-4 rounded-xl bg-teal-500 text-white">Edit</a>
        <a href = {% url 'clients:delete' client.id %} class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete</a>
        <hr class = "my-4">

        <h2 class="mb-6 text-xl">Comments</h2>

        <div class="space-y-4">
            {% for comment in client.comments.all %}
                <div class="bg-gray-100 p-6 rounded-xl">
                    <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>
                    
                    {{ comment.content }}
                </div>
            {% endfor %}
        </div>

        <form method="post" action={% url 'clients:add_comment' client.id %}>
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
        </form>
        <hr class = "my-4">
        <h2 class="mb-6 text-3xl">Files</h2>

        <hr class = "my-4">        
        <div class="space-y-4">
            {% for file in client.files.all %}
                <div class="bg-gray-100 p-6 rounded-xl">
                    <p class = "mb-2"><strong>{{ file.created_by }}</strong>@ {{file.created_at}} </p>
                    
                    <a href = {{ file.file.url }}>Download</a>
                    
                </div>
            {% endfor %}
        </div>
        <form method="post" action ={% url 'clients:add_file' client.id %} enctype="multipart/form-data">
            {% csrf_token %}
            {{ fileform.as_p }}
            <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
        </form>


        <a href = "{% url 'clients:list' %}">Back To Client List</a>

    </div>

{% endblock %}