{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}

{%block title%}{{title}}{%endblock%}

{% block content %}
    <div class = 'form-group w-full max-w-7xl mx-auto px-4 mt-2'>
        <h1 class='text-xl'>{{ title }}</h1>
        <form method = 'post' action='.'>
            {% csrf_token %}
            <div class="form-row align-items-center">
                <div class="col-auto bg-gray-100">{{ form.contact_name|as_crispy_field }}</div>
                <div class="col-3 bg-gray-100">{{ form.company_name|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.country|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.region|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.team|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.assign_to|as_crispy_field }}</div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-3">{{ form.address|as_crispy_field }}</div>
                <div class="col-auto">{{ form.phone|as_crispy_field }}</div>
                <div class="col-auto">{{ form.email|as_crispy_field }}</div>
                <div class="col-auto">{{ form.portfolio|as_crispy_field }}</div>
                <div class="col-auto">{{ form.source|as_crispy_field }}</div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-5">{{ form.profile|as_crispy_field }}</div>
                <div class="col-5">{{ form.care_update|as_crispy_field }}</div>
                <div class="col-auto">{{ form.created_by|as_crispy_field }}</div>
            </div>            
            <button class = "py-2 px-6 bg-teal-500 text-white rounded-xl">Submit</button>
        </form>
    </div>
    {%if title == "Update Client"%}
    <hr class = "my-2">
    <div class="row w-full max-w-7xl mx-auto px-4 mt-2">
        <div class="col-7">
            <h2 class="mb-6 text-3xl">Care Actions</h2>
            <div class="space-y-4">
                {% for comment in client.comments.all %}
                    <div class= "p-6 rounded-xl">
                        <p class = "mb-2"><strong>{{ comment.created_by }}</strong>@ {{comment.created_at}} </p>
                        {{ comment.content }}  
                    </div>
                {% endfor %}
            </div>

            <form method="post" action ={% url 'clients:add_comment' client.id %}>
                {% csrf_token %}
                {{ commentform|crispy }}
                <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
            </form>
        </div>
        <div class="col-3">
            <h2 class="mb-6 text-3xl">Files</h2>

            <hr class = "my-4">        
            <div class="space-y-4">
                {% for file in client.files.all %}
                    <div class= "p-6 rounded-xl">
                        <p class = "mb-2"><strong>{{ file.created_by }}</strong>@ {{file.created_at}} </p>
                        <img src="{{file.file.url}}" alt="Smiley face" width="250" height="250">
                        <a href = {{ file.file.url }}>Download</a>
                            
                    </div>
                {% endfor %}
            </div>
            <form method="post" action ={% url 'clients:add_file' client.id %} enctype="multipart/client-data">
                {% csrf_token %}
                {{ fileform.as_p }}
                <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
            </form>
        </div>        
    </div>
    {%endif%}
{%endblock %}