{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}
{%block title%}Customers{%endblock%}
{% block content %}
    <br>
    <div class = 'py-4 px-6 mt-2'> 
        <a href={% url 'clients:add' %} class="inline-block mb-2 py-1 px-6 bg-teal-500 rounded-xl text-white">Add Customers</a>
        <a href = {% url 'clients:export' %} class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-teal-500 text-white">Export Clients</a> 
        <a href = {% url 'clients:import' %} class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-success text-white">Import Clients</a>
        {% if object_list %}
            <form action="" method="get">
                <div class="row">
                    <div class="col-2 bg-gray-100">{{ filter.form.country | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.region | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.portfolio | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.source | as_crispy_field }}</div>
                    
                </div>
                <input type="submit" class = "py-1 px-6 bg-blue-500 rounded-xl text-white" value = "Filter Customer"/>
            </form>
            <div class ='mt-6 flex justify-between'>
                <p class = 'py-2 px-2 bg-gray-200 font-semibold w-full'>Contact Name</p>
                <p class = 'py-2 px-2 bg-gray-200 font-semibold w-full'>Company Name</p>
                <p class = 'py-2 px-2 bg-gray-200 font-semibold w-full'>Country</p>
                <p class = 'py-2 px-2 bg-gray-200 font-semibold w-full'>Region</p>
                <p class = 'py-2 px-2 bg-gray-200 font-semibold w-full'>Profile</p>              
            </div>
            
            {% for client in filter.qs %}
                <div class ='flex justify-between'>
                    <p class = "py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}"><a href="{% url 'clients:detail' client.id %}">{{ client.contact_name }}</a></p>
                    <p class = "py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ client.company_name }}</p>
                    <p class = "py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ client.country.name }}</p>
                    <p class = "py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ client.region }}</p>
                    <p class = "py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ client.profile }}</p>
                </div>                            
            {% endfor %}

        {% else %}
            <p class='mt-6 px-2'>There are no customer here!!!</p>
        {% endif %}
    </div>

{% endblock %}