{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}
{%block title%}Customers{%endblock%}
{% block content %}
    <br>
    <div class = 'py-4 px-6 mt-2'> 
        <a href={% url 'clients:add' %} class="inline-block mb-2 py-1 px-6 bg-teal-500 rounded-xl text-white">Add Customers</a>
        <a href = {% url 'clients:export' %} class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-teal-500 text-white">Export Clients</a> 
        <a href = {% url 'clients:import' %} class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-success text-white">Import Clients</a>
        {% if object_list %}
            <form action="" method="get">
                <div class="row">
                    <div class="col-2 bg-gray-100">{{ filter.form.country | as_crispy_field }}</div>
                    <div class="col-1 bg-gray-100">{{ filter.form.region | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.portfolio | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.source | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.created_by | as_crispy_field }}</div>
                    {%if request.user.is_superuser%}
                        <div class="col-1 bg-gray-100">{{ filter.form.team | as_crispy_field }}</div>
                    {%endif%}
                </div>
                <input type="submit" class = "py-1 px-6 bg-blue-500 rounded-xl text-white" value = "Filter Customer"/>
            </form>
            <table class="table-auto mt-2 mb-4 border-collapse border border-slate-400">
                <thead>
                    <tr class = 'bg-teal-500 text-white'>
                        <th class = 'py-1 px-2 border border-slate-400'>Contact Name</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Company Name</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Country</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Region</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Profile</th>
                        <th class = 'py-1 px-2 border border-slate-400'>PIC</th>
                        {%if request.user.is_superuser%}
                            <th class = 'py-1 px-2 border border-slate-400'>Team</th>
                        {%endif%}
                        <th class = 'py-1 px-2 border border-slate-400'>Last modified</th>
                    </tr>              
                </thead>            
                <tbody>            
                    {% for client in filter.qs %}
                    <tr>               
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href="{% url 'clients:detail' client.id %}">{{ client.contact_name }}</a></td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ client.company_name }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ client.country.name|truncatechars:15 }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ client.region }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ client.profile|truncatechars:35 }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ client.created_by.first_name }}</td>
                        {%if request.user.is_superuser%}
                            <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ client.team }}</td>
                        {%endif%}
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ client.modified_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>                            
            </table>
        {% else %}
            <p class='mt-6 px-2'>There are no customer here!!!</p>
        {% endif %}
    </div>

{% endblock %}