{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}
{%block title%}Caring actions{%endblock%}

{% block content %}
<div class="mt-2 col-md-12">
    <h3>Caring Actions</h3>
    {{form.media}}
    <form action="" method="get">
        <div class="row">
            <div class="col-2 bg-gray-100">{{ filter.form.lead | as_crispy_field }}</div>
            <div class="col-2 bg-gray-100">{{ filter.form.team | as_crispy_field }}</div>
            <div class="col-2 bg-gray-100">{{ filter.form.created_by | as_crispy_field }}</div>
            <div class="col-2 bg-gray-100">{{ filter.form.created_at | as_crispy_field }}</div> 
        </div>
        <input type="submit" class = "mt-2 py-1 px-6 bg-blue-500 rounded-xl text-white" value = "Filter Results"/>
    </form>
    {% if object_list %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">Actions count: <strong>{{filter.qs.count}}</strong></div>
            <div class="col-auto">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            
                            <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>

                            {% if page_obj.number > 3 %}
                                <a href="?page=1">1</a>
                                {% if page_obj.number > 4 %}
                                <span>...</span>
                                {% endif %}
                            {% endif %}
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <span class="current">
                                    &laquo; Page {{ page_obj.number }} &raquo;
                                </span>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                                <span>...</span>
                                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                            {% endif %}

                            <a href="?page={{ page_obj.next_page_number }}">Next &raquo; </a>
                        
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <table class="table-auto mt-2 mb-4 border-collapse border border-slate-400">
        <thead>
            <tr class = 'bg-teal-500 text-white'>
                <th class = "py-1 px-2 border border-slate-400">Lead Contact</th>
                <th class = "py-1 px-2 border border-slate-400">Company Name</th>
                <th class = "py-1 px-2 border border-slate-400">Country</th>
                <th class = "py-1 px-2 border border-slate-400">Caring Actions</th>
                <th class = "py-1 px-2 border border-slate-400">PIC</th>
                <th class = "py-1 px-2 border border-slate-400">Team</th>
                <th class = "py-1 px-2 border border-slate-400">Actions Date</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in page_obj %}
            <tr>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href={% url 'leads:detail' comment.lead.id %}>{{ comment.lead.contact_name }}</a></td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ comment.lead.company_name }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ comment.lead.country }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ comment.content|truncatechars:50 }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ comment.created_by }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ comment.team.name }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ comment.created_at }}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    {%else%}
        <br><br>
        <h1>There are no actions here!!!</h1>
    {%endif%}
</div>
{%endblock%}