{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}
{%block title%}Contact List{%endblock%}

{% block content %}
<div class="mt-2 col-md-12">
    <h3>Contact List</h3>
    {{form.media}}
    <form action="" method="get">        
        <div class="row">
            <div class="col-2 bg-gray-100">{{ filter.form.lead | as_crispy_field }}</div>
            <div class="col-2 bg-gray-100">{{ filter.form.team | as_crispy_field }}</div>
            <div class="col-2 bg-gray-100">{{ filter.form.assign_to | as_crispy_field }}</div>
            
        </div>
        <input type="submit" class = "mt-2 py-1 px-6 bg-blue-500 rounded-xl text-white" value = "Filter Results"/>
    </form>
    {% if object_list %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">Contact count: <strong>{{filter.qs.count}}</strong></div>
        <div class="col-auto">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; First </a>
                        <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous </a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"> Next &raquo;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"> Last Page &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <table class="table-auto mt-2 mb-4 border-collapse border border-slate-400">
        <thead>
            <tr class = 'bg-teal-500 text-white'>
                <th class = "py-1 px-2 border border-slate-400">Lead</th>
                <th class = "py-1 px-2 border border-slate-400">Fist name</th>
                <th class = "py-1 px-2 border border-slate-400">Last name</th>
                <th class = "py-1 px-2 border border-slate-400">Birth_date</th>
                <th class = "py-1 px-2 border border-slate-400">Phone Number</th>
                <th class = "py-1 px-2 border border-slate-400">Email</th>                
                <th class = "py-1 px-2 border border-slate-400">PIC</th>
                <th class = "py-1 px-2 border border-slate-400">Team</th>
                
                
            </tr>
        </thead>
        <tbody>
        {% for contact in filter.qs %}
            <tr>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href={% url 'leads:detail' contact.lead.pk %}>{{ contact.lead.company_name }}</a></td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href='#'>{{ contact.first_name }}</a></td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ contact.last_Name }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ contact.birth_date }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ contact.phone_number }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ contact.email }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ contact.assign_to.fist_name }}</td>
                <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ contact.team.name }}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    {%else%}
    <br><br>
    <h1>There are no contact here!!!</h1>
    {%endif%}
</div>
{%endblock%}