{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}

{%block title%}{{title}}{%endblock%}
 
{% block content %}
    <div class = 'form-group w-full max-w-7xl mx-auto mt-2 px-4'>
        <h1 class='text-xl'>{{ title }}</h1>        
        <form method = 'post' action=".">            
            {% csrf_token %}
            <div class="form-row align-items-center">
                <div class="col-auto">{{ form.contact_name|as_crispy_field }}</div>
                <div class="col-3">{{ form.company_name|as_crispy_field }}</div>
                <div class="col-2">{{ form.country|as_crispy_field }}</div>
                <div class="col-auto">{{ form.region|as_crispy_field }}</div>
                <div class="col-auto">{{ form.team|as_crispy_field }}</div>
                <div class="col-auto">{{ form.assign_to|as_crispy_field }}</div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-3 bg-gray-100">{{ form.address|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.phone|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.email|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.portfolio|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.source|as_crispy_field }}</div>
            </div>
            <div class="form-row align-items-top">
                <div class="col-auto bg-gray-100">{{ form.profile|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.care_update|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.status|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.priority|as_crispy_field }}</div>
                <div class="col-auto bg-gray-100">{{ form.created_by|as_crispy_field }}</div>
            </div>
            
            <button class = "py-1 px-6 bg-teal-500 text-white rounded-xl">Submit</button>
        </form>
        <hr>
        {%if title == "Update Lead"%}
        <div class="row w-full max-w-7xl mx-auto px-4 mt-2">
            <div class="col-7">
                <h2 class="mb-6 text-3xl">Care Actions</h2>
                <hr class = "my-1">
                <div class="space-y-4">
                    {% for comment in lead.comments.all %}
                        <div class="bg-gray-100 p-6 rounded-xl">
                            <p class = "mb-2"><strong>{{ comment.created_by }}</strong>@ {{comment.created_at}} </p>
                            
                            {{ comment.content }}
                            
                        </div>
                    {% endfor %}
                </div>

                <form method="post" action ={% url 'leads:add_comment' lead.id %}>
                    {% csrf_token %}
                    {{ commentform|crispy }}
                    <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
                </form>
            </div>           
        
            <div class="col-3">
                <h2 class="mb-6 text-3xl">Files</h2>
                <hr class = "my-4">        
                <div class="space-y-4">
                    {% for file in lead.files.all %}
                        <div class="bg-gray-100 p-6 rounded-xl">
                            <p class = "mb-2"><strong>{{ file.created_by }}</strong>@ {{file.created_at}} </p>
                            <img src="{{file.file.url}}" alt="Smiley face" width="250" height="250">
                            <a href = {{ file.file.url }}>Download</a>
                            
                        </div>
                    {% endfor %}
                </div>
                <form method="post" action ={% url 'leads:add_file' lead.id %} enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ fileform.as_p }}
                    <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
                </form>
            </div>
        </div>
        {%endif%}
    </div>

{%endblock %}