{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}
{%block title%}Leads{%endblock%}
{% block content %}
    <div class = 'py-4 px-6'>
        <a href={%url 'leads:add'%} class="inline-block mb-2 py-1 px-6 bg-teal-500 rounded-xl text-white">Add More Leads</a>
        <a href={%url 'leads:import'%} class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-warning text-white">Excel Upload</a>
        <a href={%url 'leads:comment'%} class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-success text-white">Caring Actions</a>
        {% if object_list %}
            <form action="" method="get">
                <div class="form-row align-items-center">
                    <div class="col-2">{{ filter.form.country | as_crispy_field }}</div>
                    <div class="col-auto">{{ filter.form.region | as_crispy_field }}</div>
                    <div class="col-auto">{{ filter.form.portfolio | as_crispy_field }}</div>
                    <div class="col-auto">{{ filter.form.source | as_crispy_field }}</div>
                    <div class="col-auto">{{ filter.form.priority | as_crispy_field }}</div>
                    <div class="col-auto">{{ filter.form.status | as_crispy_field }}</div> 
                    <div class="col-auto">{{ filter.form.created_by | as_crispy_field }}</div>                    
                    {%if request.user.is_superuser%}
                        <div class="col-auto">{{ filter.form.team | as_crispy_field }}</div>
                    {%endif%}
                </div>
                <input type="submit" class = "mt-1 py-1 px-6 bg-blue-500 rounded-xl text-white" value = "Filter Leads"/>
            </form>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">Lead count: <strong>{{filter.qs.count}}</strong></div>
            </div>
            <table class="table-auto mt-2 mb-4 border-collapse border border-slate-400">
                <thead>
                    <tr class = 'bg-teal-500 text-white'>
                        <th class = 'py-1 px-2 border border-slate-400'>Contact Name</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Company Name</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Country</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Portfolio</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Source</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Priority</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Status</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Care Update</th>
                        <th class = 'py-1 px-2 border border-slate-400'>PIC</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Team</th> 
                        <th class = 'py-1 px-2 border border-slate-400'>Modify_at</th>
                    </tr>              
                </thead>            
                <tbody>
                    {% for lead in filter.qs %}
                    <tr>               
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href={% url 'leads:detail' lead.id %}>{{ lead.contact_name }}</a></td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.company_name }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.country.name }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.portfolio }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.source }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.get_priority_display }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.get_status_display }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.care_update|truncatechars:35 }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.created_by.first_name }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.team }}</td>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ lead.modify_at }}</td>                    
                    </tr>
                    {% endfor %}
                </tbody>                            
            </table>
        {%else%}
                <h3>No Leads Here</h3>
        {%endif%}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

{% endblock %}