{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}

{%block title%}{{title}}{%endblock%}
 
{% block content %}
    <div class = 'form-group w-full max-w-7xl mx-auto mt-2 px-4'>
        <h1 class='text-xl'>{{ title }}</h1>        
        <form method = 'post' action=".">            
            {% csrf_token %}
            <div class="row">
                <div class="col-3 bg-gray-100">{{ form.contact_name|as_crispy_field }}</div>
                <div class="col-3 bg-gray-100">{{ form.company_name|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.country|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.region|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.team|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-5 bg-gray-100">{{ form.address|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.phone|as_crispy_field }}</div>
                <div class="col-3 bg-gray-100">{{ form.email|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.created_by|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6 bg-gray-100">{{ form.profile|as_crispy_field }}</div>
                <div class="col-6 bg-gray-100">{{ form.care_update|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-4 bg-gray-100">{{ form.portfolio|as_crispy_field }}</div>
                <div class="col-4 bg-gray-100">{{ form.source|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.priority|as_crispy_field }}</div>
                <div class="col-2 bg-gray-100">{{ form.status|as_crispy_field }}</div>
            </div>
            <button class = "py-1 px-6 bg-teal-500 text-white rounded-xl">Submit</button>
        </form>
    </div>

{%endblock %}