{% extends 'poscrm/base.html' %}

{%block title%}CRM Karofi{%endblock%}

{% block content %}
<br>
<div class="mt-6 col-md-12"> 
    <div class="card">
        <div class="card-header">
            <h2 class = 'mx-2'>About Projects</h2>
            <h4 class='mx-2 py-2 mt-6 px-6'> Version: Beta</h4>            
        </div>
        <div class="card-body mt-1">
            <div class="row"> 
                <div class="col-10">
                    <div class="col-8">
                        <p>Beta version for testing cusstmer/lead management features:</p>
                        <h5>Leads</h5>
                        <li>Add new leads</li>
                        <li>Edit leads</li>
                        <li>Add Care Actions as Comments</li>
                        <li>Convert Lead Into Client</li>
                        <h5>Projects</h5>
                        <li>Add/Edit Projects</li>
                        <li>Add/Edit Tasks</li>
                        <li>leads</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock %}