{% extends 'poscrm/base.html' %}

{%block title%}CRM Karofi{%endblock%}

{% block content %}
<div class="col-md-12"> 
    <div class="card">
        <div class="card-header">
            <h2 class = 'mx-2'>About Projects</h2>
            <h4 class='mx-2 py-2 mt-6'> Version: Beta</h4>            
        </div>
        <div class="card-body mt-1">
            <div class="row"> 
                <div class="col-10">
                    <div class="col-8">
                        <p>Beta version for testing cusstmer/lead management features:</p>
                        <h5>Leads</h5>
                        <li>&nbsp;&nbsp;&nbsp;Add new leads</li>
                        <li>&nbsp;&nbsp;&nbsp;Edit leads</li>
                        <li>&nbsp;&nbsp;&nbsp;Add Care Actions as Comments</li>
                        <li>&nbsp;&nbsp;&nbsp;Convert Lead Into Client</li>
                        <h5>Projects</h5>
                        <li>&nbsp;&nbsp;&nbsp;Add/Edit Projects</li>
                        <li>&nbsp;&nbsp;&nbsp;Add/Edit Tasks</li>
                        <h5>Clients</h5>
                        <li>&nbsp;&nbsp;&nbsp;Add new Clients</li>
                        <li>&nbsp;&nbsp;&nbsp;Edit Client</li>
                        <li>&nbsp;&nbsp;&nbsp;Add Care Actions as Comments</li>
                        <li>&nbsp;&nbsp;&nbsp;Import and Export Client</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock %}