{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}
{%block title%}Products{%endblock%}

{% block content %}
    <div class = 'py-4 px-6'>
        <a href="{%url 'products:add'%}" class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-teal-500 text-white">Add Product</a>
        
        {% if object_list %}
            <form action="" method="get">
                <div class="row">
                    <div class="col-2 bg-gray-100">{{ filter.form.category | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.model | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.brand | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.group | as_crispy_field }}</div>
                </div>
                <input type="submit" class = "py-1 px-6 bg-blue-500 rounded-xl text-white" value = "Filter Product"/>
            </form>
            <table class="table-auto mt-2 mb-4 border-collapse border border-slate-400">
                <thead>
                    <tr class = 'bg-teal-500 text-white'>
                        <th class = 'py-1 px-2 border border-slate-400'>Product Code</th>
                        <th class = 'py-1 px-2 border border-slate-400'>English Name</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Category</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Model</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Brand</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Unit Cost</th> 
                        <th class = 'py-1 px-2 border border-slate-400'>Status</th>
                    </tr>                
                </thead>
                <tbody>            
                    {% for product in filter.qs %}
                    <tr>               
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href={% url 'products:detail' product.id %}>{{ product.product_code }}</a></p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ product.english_name }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ product.category }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ product.model }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ product.brand }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ product.unit_cost }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ product.status }}</p>
                    </tr>
                    {% endfor %}
                </tbody>                            
            </table>
        {% else %}
            <p class='mt-6 px-2'>There are no product here!!!</p>
        {% endif %}
    </div>

{% endblock %}