{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}

{%block title%}{{title}}{%endblock%}

{% block content %}
<div class = 'form-group w-full max-w-7xl mx-auto px-4 mt-2'>
    <h1 class='text-xl'>{{ title }}</h1>
        
    <form method = 'post' action='.'>
        {% csrf_token %}
        <div class="form-row align-items-top">
            <div class="col-auto">{{ form.order_number|as_crispy_field }}</div>
            <div class="col-auto">{{ form.client|as_crispy_field }}</div>
            <div class="col-auto">{{ form.pic|as_crispy_field }}</div>
            <div class="col-auto">{{ form.team|as_crispy_field }}</div>
            <div class="col-auto">{{ form.ship_country|as_crispy_field }}</div>
            <div class="col-auto">{{ form.status|as_crispy_field }}</div>
        </div>
        <div class="form-row align-items-top">
            <div class="col-1">{{ form.deposit|as_crispy_field }}</div>
            <div class="col-auto">{{ form.deposit_date|as_crispy_field }}</div>
            <div class="col-1">{{ form.payment1|as_crispy_field }}</div>
            <div class="col-auto">{{ form.payment1_date|as_crispy_field }}</div>
            <div class="col-1">{{ form.payment2|as_crispy_field }}</div>
            <div class="col-auto">{{ form.payment2_date|as_crispy_field }}</div>      
        </div>
        <div class="form-row align-items-top">    
            <div class="col-auto">{{ form.load_date|as_crispy_field }}</div>
            <div class="col-auto">{{ form.etd_date|as_crispy_field }}</div>
            <div class="col-auto">{{ form.eta_date|as_crispy_field }}</div>
            <div class="col-auto">{{ form.booking|as_crispy_field }}</div>
            <div class="col-auto">{{ form.ship_line|as_crispy_field }}</div>
        </div>    
        <div class="form-row align-items-top">
            <div class="col-auto">{{ form.discount|as_crispy_field }}</div>
            <div class="col-auto">{{ form.freight|as_crispy_field }}</div>
            <div class="col-auto">{{ form.trucking_fee|as_crispy_field }}</div>
            <div class="col-auto">{{ form.local_charge|as_crispy_field }}</div>
        </div>
        <div class="form-row align-items-top">
            <div class="col-auto">{{ form.invoice_number|as_crispy_field }}</div>
            <div class="col-auto">{{ form.invoice_date|as_crispy_field }}</div>
            <div class="col-auto">{{ form.declaration|as_crispy_field }}</div>
            <div class="col-auto">{{ form.declare_date|as_crispy_field }}</div>
        </div>
        <button class = "py-2 px-8 bg-teal-500 text-white rounded-xl">Submit</button>
    </form>
        <a href = {% url 'orders:list' %}>Back To Order List</a>
</div>
{%endblock %}