{% extends 'poscrm/base.html' %}
{% load crispy_forms_tags %}
{%block title%}Orders{%endblock%}

{% block content %}
    <br>
    <div class = 'py-4 px-6 mt-2'>
        <a href="{%url 'orders:add'%}" class="inline-block mt-2 mb-2 py-1 px-6 rounded-xl bg-teal-500 text-white">Add New Order</a>
        {% if object_list %}
            <form action="" method="get">
                <div class="row">
                    <div class="col-2 bg-gray-100">{{ filter.form.client | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.pic | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.team | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.load_date | as_crispy_field }}</div>
                    <div class="col-2 bg-gray-100">{{ filter.form.ship_country | as_crispy_field }}</div>
                    
                </div>
                <input type="submit" class = "py-1 px-6 bg-blue-500 rounded-xl text-white" value = "Filter Orders"/>
            </form>
            <table class="table-auto mt-2 mb-4 border-collapse border border-slate-400">
                <thead>
                    <tr class = 'bg-teal-500 text-white'>
                        <th class = 'py-1 px-2 border border-slate-400'>Order Number</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Customer</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Ship Country</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Loading Date</th>
                        <th class = 'py-1 px-2 border border-slate-400'>ETD Date</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Status</th>
                        <th class = 'py-1 px-2 border border-slate-400'>PIC</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Team</th>
                        <th class = 'py-1 px-2 border border-slate-400'>Order Total</th>
                    </tr>              
                </thead>            
                <tbody>            
            
                    {% for order in filter.qs %}
                    <tr>               
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href={% url 'orders:items' order.id %}>{{ order.order_number }}</a></p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}"><a href={% url 'clients:detail' order.client.id %}>{{ order.client }}</a></p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ order.ship_country.name }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ order.load_date }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ order.etd_date }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ order.status }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ order.pic.first_name }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">{{ order.team }}</p>
                        <td class = "py-1 px-2 border border-slate-400 {% cycle 'bg-gray-100' '' %}">${{ order.order_total }}</p>
                    </tr>
                    {% endfor %}
                </tbody>                            
            </table>
        {% else %}
            <p class='mt-6 px-2'>There are no order here!!!</p>
        {% endif %}
    </div>

{% endblock %}